{
  "extends": "airbnb-base",
  "rules": {
    "consistent-return": "off",
    "func-names": "off",
    "no-restricted-globals": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-use-before-define": "off",
    "prefer-arrow-callback": "off",
    "wrap-iife": "off"
  },
  "globals": {
    "$": false,

    "CustomEvent": false,
    "langsArray": false,
    "langs": false,
    "prettyPrint": false,
    "selectors": false,
    "setupLanguages": false,
    "toggleCode": false,

    "lunr": false,

    "location": false,
    "localStorage": false,
    "history": false,
    "window": false
  }
}
