---
layout: default
title: Home
---
<header class="logo">
  <a href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/assets/images/logo.png" alt="{{ site.title }}">
  </a>
</header>

{% assign sorted = site.tags | sort %}

<div class="post-list">
    {% for tag in sorted %}
    <section class="product">
        <h1>{{tag[0]}}</h1>
        {% assign pages_list = tag[1] | sort %}

        <ul class="post">
        {% for post in pages_list %}
            <li class="post-title">
                <h2 class="no-toc">{{ post.title }}</h2>
                <p>{{ post.description | truncatewords:75 }}</p>
                <a class="btn" href="{{ site.baseurl }}{{ post.url }}">Ver Conteúdo</a>
            </li>
        {% endfor %}
        </ul>
    </section>
    {% endfor %}
</div>
