@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500');

body
{
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  color: #888;
}


p {
    color: #76797a;
    font-size: 14px;
    line-height: 25px;
}

strong {
  color: #76797a;
}

.post ul,
.post ol {
    color: #76797a;
    line-height: 25px;
    margin-left: 25px;
}

.post ul li,
.post ol li {
  line-height: 25px;
}

.post ul li ul,
.post ol li ol {
  margin-left: 25px;
}

.no-toc {
    border: none;
}

.sidebar-about img {
    margin: 0 ;
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 40px;
    margin-bottom: 5px;
}

h1 {
    font-size: 24px;
    line-height: normal;
}

h2 {
    font-size: 20px;
    line-height: normal;
}

h3 {
    font-size: 18px;
    line-height: normal;
}

h4 {
    font-size: 14px;
    line-height: normal;
}


.post table {
    width: 100%;
}

.post table thead tr th {
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    padding: 5px;
    border-bottom: 1px solid #00aeef;
    color: #00aeef;
    font-size: 13px;
}

.post table tbody code {
    background: none;
    padding: 0;
    border: none;
}

.post table tbody tr {
    border-bottom: 1px dashed #ddd;
}

.content > table  {
    margin-left: 35px;
    width: calc(100% - 70px);
}

.content table {
    margin-bottom: 1em;
    overflow: auto;
}
.content table th,
.content table td {
    text-align: left;
    vertical-align: top;
    line-height: 1.6
}
.content table th {
    padding: 8px;
    vertical-align: bottom;
    line-height: 1.2em;
    background: #24B9F1;
    color: #FFF;
    text-shadow: none;

}
.content table td {
    padding: 10px
}
.content table tr {
    line-height: 1.2em
}
.content table tr:nth-child(odd)>td {
    background-color: #f5f5f5;
}

table tr td {
    color: #76797a;
}

table {
  border: none;
}

td, th {
  border: none;
}

.content table tr:nth-child(even)>td {
    background-color: white
}

.toc-footer {
    width: 330px;
    word-wrap: break-word;
}

.sidebar-sticky>.search {
    position: relative
}

.search-results {
    display: none;
}
.search-results.visible {
    display: block;
    list-style: none;
    padding: 10px 20px;
    max-height: 400px;
    position: absolute;
    float: right;
    width: 400px;
    overflow: auto;
    border: 1px solid #dadada;
    border-radius: 0 4px 4px 0;
    background: #fff;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    right: calc(25% + 40px);
}

.no-dark-box .search-results.visible {
    right: 80px;
}
}

.toc-footer li {
  padding: 0;
}

.toc-footer li a {
    padding: 10px 15px;
    transition: .3s ease all;
    position: relative;
    display: block;
}

.toc-footer li a:hover {
    background-color: #eee;
    text-decoration: none;
    opacity: 1;
    text-decoration: none;
}

.toc-contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}

.contact a,
.github a {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #888;
    transition: .3s ease all;
}

.contact a:hover,
.github a:hover {
  text-decoration: none;
}

.content .search-highlight {
    padding: 2px;
    margin: -2px;
    border-radius: 4px;
    border: none;
    text-shadow: 1px 1px 0 #666;
    background: linear-gradient(to top left, #00e888 0%, #00e888 100%);
    color: #fff;
    box-shadow: none;
    text-shadow: none;
}

aside a {
    color: #fff;
    text-decoration: underline;
    transition: .3s ease all;

}

aside a:hover {
  opacity: .5;
  color: #fff;
}

.content aside {
    padding: 20px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background: #8fbcd4;
    line-height: 1.6;
    text-shadow: none
}

.content aside.warning br,
.content aside.notice br,
.content aside.success br {
    display: none;
}

.content aside.warning strong:before,
.content aside.notice strong:before,
.content aside.success strong:before {
    content: "\f06a";
    font-family: FontAwesome;
    margin-right: 10px;
}

.content aside.success:before {
  color: #149c9e;
}

.content aside.warning,
.content aside.notice,
.content aside.success {
    text-shadow: none;
    border-radius: 5px;
}

.content aside.warning strong {
  color: #8e3232;
}

.content aside.warning {
  background-color: #f56e6e;
  color: #8e3232;
}

.content aside.notice {
  background-color: #e7f5f5;
}



.content aside.success {
  background-color: #13b073;
}

.content aside.warning strong,
.content aside.notice strong,
.content aside.success strong {
    font-weight: normal;
    font-size: 12px;
    display: block;
    margin-bottom: 0;
}

.content aside.notice strong {
    color: #149c9e;
}

.content aside.success {
    background-color: #6ac174;
    text-shadow: none
}
.content aside.request {
    padding: 1em 0;
    background-color: transparent;
    font-weight: bold;
    padding-left: 0;
    text-shadow: none;
}
.content aside.request .method {
    padding: 1em;
    width: 60px;
    text-align: center;
    vertical-align: middle;
}
.content aside.request .endpoint {
    background-color: #fafafa;
    padding: 1em;
    vertical-align: middle;
    margin-left: -4px;
}
.content .method.post,
.content .method.put,
.content .method.get
 {
    background: #b5f0c8;
}

.content aside.request::after {
    clear: both;
    content: "";
    display: block
}
.content aside:before {
    vertical-align: middle;
    padding-right: 0.5em;
    font-size: 14px
}

.toc-footer {
    bottom: 0;
}

.search-results.visible + .tocify {
    max-height: calc(100vh - 418px - 11rem);
}

h3 +  aside.request {
}

h2 + h3 {
    margin: 0;
}

ul.post li.post-title h2 {
    margin-bottom: 20px;
}

img {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

code {
    background: rgba(255, 255, 255, 0.6);
    padding: 5px;
}

.dark-box {
    display: none;
}

.lang-selector {
    font-weight: bold;
    background-color: #fff;
}
.lang-selector a {
    display: block;
    float: left;
    color: #fff;
    background: #666;
    text-decoration: none;
    padding: 0 10px;
    line-height: 30px;
    outline: 0
}
.lang-selector a:active,
.lang-selector a:focus {
    background-color: #111;
    color: #fff
}
.lang-selector a.active {
    background-color: #00aeef;
    color: #fff;
}
.lang-selector:after {
    content: '';
    clear: both;
    display: block
}

.content-container.no-dark-box {
    width: 100%;
}

.content-container {
    padding-left: 340px;
    padding-right: 40px;
    width: 75%;
    overflow-x: hidden;

}



.content.no-sidebar.no-dark-box {
    margin: 10px;
    padding: 0;
}

.default {
    background: #fff;
}

header.logo,
header.logo h1,
header.logo img {
    padding: 0;
    margin: 0;
    background-image: none;
}

header.logo img {
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

header.logo {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 1px solid #dddddd;
}

.post-list {
    width: 100%;
    margin: 40px auto 0;
    padding: 40px;
    background: #fff;
}

.post-list.home {
    margin-top: 100px;
}

.post-list h1 {
    background: transparent;
    background-image: none;
    border: none;
    margin: 20px 0 0 0;
    text-align: center;
}


ul {
  margin: 0;
}

ul.post {
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 450px;
    margin: 0 auto;
}

ul.post li {
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    margin: 15px 0;
    padding: 30px 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    transition: .3s ease all;
}

ul.post li:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  cursor: pointer;
}


ul.post p:not(:empty) {
    text-align: center;
}

ul.post a.btn {
  align-items: flex-end;
  margin-top: auto;
}


a.btn {
    color: #fff;
    background-color: #00aeef;
    text-shadow: none;
    box-shadow: none;
    width: auto;
    padding: 10px 35px;
    border-radius: 25px;
    transition: .3s ease all;
    border: 1px solid #00aeef;
    display: table;
    margin: 0 auto;
}

a.btn:hover {
  background-color: #FFF;
  color: #00aeef;
  transition: .3s ease all;
}

ul.related-posts.post {
    padding: 0;
    margin: 0 auto;
}

.related-posts h1 {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

header.logo img {
    margin: 0 auto;
}

.post-title {
    text-align: center;
}

/* Sidebar */

.sidebar {
    background-color: #f0f0f0;
    box-shadow: 0 0 10px #f0f0f0;
    width: 100%;
    max-width: 300px;
    height: 100%;
    border-right: 1px solid #e2e2e2;
    z-index: 5;
}
.sidebar-sticky>.search input {
  background: #fff;
  border-width: 0;
  border-color: #666;
  padding: 13px 37px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 25px 15px;
  width: 325px;
  outline: none;
  color: #747975;
  border-radius: 7px;
  font-size: inherit;
  line-height: normal;
  height: auto;
  border: none;
}

.sidebar-sticky>.search:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\e607";
    position: absolute;
    top: 40px;
    left: 30px;
    color: #00aeef;
}


.sidebar-about {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
}

.hamb-menu {
    font-size: 20px;
    top: 4px;
    position: relative;
    color: #00aeef;
    transition: .3s ease all;
}

.hamb-menu:hover {
  opacity: .7;
  cursor: pointer;
}

.code-menu {
    position: absolute;
    top: 20px;
    right: 105%;
    padding: 15px 15px;
    background-color: #00aeef;
    color: #fff;
    border-radius: 100%;
    font-size: 20px;
    border: 1px solid #00aeef;
    transition: .3s ease all;
}

.code-menu:hover {
  background-color: #fff;
  color: #00aeef;
  cursor: pointer;
}

.sidebar-about h1 a img {
    margin-left: 15px;
}

.toc-footer {
    width: 100%;
}

.toc-contact div {
    padding-top: 15px;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
    color: #00aeef;
    text-shadow: none;
    background: none;
    transition: .2s ease all;
}

.nav-list > li > a {
    padding: 0;
    transition: .3s ease all;
}

.nav-list > li > a, .nav-list .nav-header {
  text-shadow: none;
}


.toc-footer-title {
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 0;
    color: #FFFFFF;
    background: none;
    border-top: none;
    margin: 0;
    padding: 20px 0px 0 15px;
    font-weight: normal;
    color: #888;
    margin-bottom: 10px;
}

.post-list ul.post {
    padding-top: 0;
}

.content ul.post {
    padding-top: 0;
    justify-content: flex-start;
    padding: 0;
}

.nav > li > a:hover {
  background: none;
  color: #00aeef;
}

.post-title h2 {
    margin: 0;
}

.has-subitens a:after {
  content: "\f104";
  margin-right: 10px;
  font-family: FontAwesome;
  position: absolute;
  right: 2px;
  top: 12px;
}

.has-subitens.is-open a:after {
  content: "\f107";
}


#toc .tocify-header,
.toc-footer li {
    display: block;
}

#toc .tocify-item.active {
    background-color: #d8d8d8;
    border-left: 3px solid #02aeef;
}

#toc .tocify-item.active a {
    color: #76797a;
}

#toc .tocify-header li a {
  padding: 10px 15px;
  padding-right: 25px;
  position: relative;
}

#toc .tocify-header li a:hover {
  background-color: #eee;
  text-decoration: none;
  opacity: 1;
}

#toc .tocify-header ul li a {
    padding-left: 30px;
    padding-bottom: 6px;
}

.tocify {
  overflow-y: auto;
  width: auto;
  max-height: calc(100vh - 370px);
}

.tocify li {
  line-height: normal;
}

/* Content */

.post {
    margin-top: 10px;
}

ol.breadcrumb {
    padding: 20px 0 0 0;
    background: none;
    margin: 0;
}

ol.breadcrumb li.active a {
    color: #888;
    pointer-events: none;
}

code {
    padding: 3px;
    color: #888;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    border-radius: 5px;
    background-color: #e6e6e6;
}

.post table tbody code {
    padding: 3px;
    color: #888;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    border-radius: 5px;
    background-color: #e6e6e6;
}

.highlight {
    border-radius: 0;
}

.highlighter-rouge pre.highlight {
    background-color: #28292d;
    color: #afb8bb;
    padding: 17px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    font-size: 11px;
    height: 100%;
}

.content table {
    margin: 0;
    width: 100%;
}

.content table thead tr th {
    color: #00aeef;
    text-transform: uppercase;
    line-height: normal;
    background: none;
    border-bottom: 2px solid #ddd;
}

.content tbody {
    font-family: Monaco;
    font-size: 12px;
}

.content tbody tr {
    border-bottom: 1px solid #ddd;
}

a {
  transition: .3s ease all;
  color: #00aeef;
}

a:hover {
  color: #0078A6;
  text-decoration: underline;
}


/* Top Links */

.lang-help {
    display: flex;
}

.top-links {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

div#submenu {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    position: fixed;
    background-color: #fff;
    padding: 5px 0;
}

.submenu-row {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;}

.submenu-itens {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.lang {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.search {
    position: relative;
}

.search:after {
    content: "\f002";
    top: 5px;
    font-family: 'FontAwesome';
    display: block;
    right: 10px;
    position: absolute;
    color: #01adef;
}

input#input-search {
    width: 280px;
    padding: 15px;
    box-shadow: none;
    box-shadow: none;
    padding-right: 35px;
    position: relative;
}

ul.search-results {
    margin-top: 5px;
    font-size: 12px;
}

a.help {
    padding-right: 20px;
    border-right: 1px solid #e1e1e1;
}

.submenu-itens {
    color: #888888;
}

.lang span {
    padding-left: 20px;
}

.submenu-itens img {
    margin: 0 0 0 15px;
}

.search input {
    margin: 0;
}

#submenu .submenu-container {
    padding-left: 340px;
    padding-right: 600px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: left;
}

.submenu-row.sub-items {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.submenu-row.breads {
    padding: 8px 0;
}

/* Syntax */

.highlight .s2 {
    color: #90a959;
}

.highlight .err {
    background: none;
    color: #f60;
}

.darbox {
      width: 25%;
}

.sidebar-closed #submenu .submenu-container {
    padding-left: 90px;
}

/* Footer Dúvidas */

.footer-conteudo {
    display: flex;
    flex-flow: row;
    align-items: center;
    border-top: 1px solid #e2e2e2;
}

.footer-conteudo h1 {
    margin: 0;
    font-weight: normal;
}

#footer-conteudo-img img {
    margin-right: 15px;
}

.tocify-extend-page {
    display: none;
}

/* Aside Methods */

aside.request span.method {
    width: 100px;
    display: inline-block;
    text-align: center;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside.request span.method.post {
    background-color: #b5f0cb;
    color: #638670;
    margin: 0;
}

aside.request span.method.put {
    background-color: #ffe1c0;
    color: #a38f79;
    margin: 0;
}

aside.request span.method.get {
    background-color: #b3dceb;
    color: #718c95;
    margin: 0;
}

aside.request {
    margin: 10px 0;
    display: flex;
}

span.endpoint {
    background-color: #f5f5f5;
    padding: 12px;
    display: inline-block;
    display: flex;
    align-items: center;
}

/* Aside Warnings & Notice */

aside.warning {
    background-color: #ffc6ba;
    color: #735852;
    padding: 15px 20px;
    margin: 15px 0;
}

aside.notice {
    background-color: #cce9f4;
    color: #5b696e;
    padding: 20px 15px;
    margin: 15px 0;
}

aside.warning strong:before,
aside.notice strong:before {
    content: "\f06a";
    font-family: FontAwesome;
    margin-right: 5px;
    display: inline-block;
    color: rgba(0,0,0,0.5);
}

aside.warning strong,
aside.notice strong {
    display: block;
    font-weight: normal;
}

aside.warning strong {
    color: #735852;
}

aside.notice strong {
    color: #5b696e;
}

/* Menu */
.content-container .post {
    margin-top: 120px;
}

.submenu-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0;
}

.submenu-bottom {
    display: flex;
    width: 100%;
}

ol.breadcrumb {
    padding: 0;
}

ul.search-results {
    padding-left: 30px;
}

/* Menu */


/* Expandir */

a.expand-btn {
    float: right;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    background-color: #3e3f42;
    padding: 5px 15px;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer;
}

a.expand-btn:hover {
    background-color: #51545a;
    color: #fff;
}

.expand-btn .fa {
}

@media(min-width: 1660px) {
a.hide-btn {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 25%;
    background-color: #282a2e;
    color: #fff;
    padding: 20px;
    font-size: 13px;
}

.content-container.no-dark-box a.hide-btn {
    width: auto;
}

a.hide-btn:hover {
    color: #bfbfbf;
    text-decoration: none;
    cursor: pointer;
}

a.hide-btn .fa {
}
}


/* Expandir */

/* Trocar Linguagem */

.language-group {
    display: flex;
    margin: 2em 0;
    width: 100%;
    background: #28292d;
}

.language-buttons {
    background-color: #202224;
}

.language-buttons a.active {
    background-color: #00aeef;
    text-decoration: none;
}

.language-buttons a:hover {
    background-color: #00aeef;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.language-buttons a {
    display: block;
    background-color: #3e3f42;
    color: #fff;
    padding: 5px 25px;
    margin: 10px;
    border-radius: 2px;
}

.highlighter-rouge {
    width: 100%;
}

@media(min-width: 1660px) {
    .content-container:not(.no-dark-box) ul.language-buttons {
    position: fixed;
    top: 60px;
    width: 25%;
    z-index: 100;
    right: 0;
    list-style: none;
    background-color: #202125;
    display: flex;
    padding: 20px;
}

.content-container:not(.no-dark-box) .language-buttons a {
    padding: 7px 25px;
    background-color: #2f3033;
    text-decoration: none;
    border: none;
    color: #fff;
    margin: 0 10px;
    transition: .3s ease all;
}

.content-container:not(.no-dark-box) .language-buttons li:first-child a {
    margin: 0;
}

.content-container:not(.no-dark-box) .language-buttons a.active {
    background-color: #32aeef;
}

.content-container:not(.no-dark-box) .language-buttons a:hover {
    background-color: #32aeef;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
}

/* Trocar Linguagem */

/* Blockquotes */

blockquote {
    background-color: #fafafa;
    display: table;
    padding: 15px 60px 15px 15px;
    border-left: 5px solid #32AEED;
}

/* Blockquotes */

/* Offseting Anchors */
/*
div:empty {
    position: relative;
    content: "";
    display: block;
    top: -120px;
}*/

/* Offseting Anchors */

/* Menu Items */


.tocify-header.nav > ul.tocify-subheader.nav {
    background-color: #f5f5f5;
}

.tocify-header.nav > ul.tocify-subheader.nav > ul.tocify-subheader {
    background-color: #FAFAFA;
}

ul.tocify-header > ul.tocify-subheader > ul.tocify-subheader > ul.tocify-subheader li a {
    font-weight: normal;
}

.fixed-footer {
    position: absolute;
    bottom: 0;
    border-top: 1px dashed #cccccc;
    width: 100%;
}

/* Menu Items */

/* New Home */

.home-header-container {
    height: 100%;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 30px;
}

@media(max-width: 600px) {
    .home-header-container {
    flex-flow: column;
    }
}

.home-header-container input#input-search {
    width: 200px;
}

.home ul.product-list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 30px;
    margin-top: 60px;
    justify-content: space-between;
}

.home li.product {
    width: 100%;
    max-width: 300px;
    margin-bottom: 60px;
}

.home ul h2 {
    margin-top: 0;
    text-align: center;
    font-weight: normal;
    margin-bottom: 10px;
}

.home ul.doc {
    list-style: none;
    padding: 20px;
    border: 1px solid #dddddd;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.home-footer {
    border-top: 1px solid #dddddd;
}

.home-footer .footer-conteudo {
    max-width: 1110px;
    margin: 0 auto;
    border: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

/* New Home */


/* Queries */

@media(max-width: 1600px) {
  .content-container,
  #submenu .submenu-container {
    padding-left: 400px;
    width: 100%;
    padding-right: 40px;
  }

  .language-tabs {
      display: none;
  }
}

@media(max-width: 1400px) {
  .content-container.no-dark-box,
  .content-container,
  #submenu .submenu-container {
    padding-left: 284px;
  }



  .sidebar {
    max-width: 245px;
  }
}

@media(max-width: 767px) {
  .content-container.no-dark-box,
  #submenu .submenu-container {
    width: 100%;
    padding: 0 35px;
  }
}

@media (min-width: 1660px) {
    .content-container:not(.no-dark-box) div.highlighter-rouge {
        display: none;
        position: absolute;
        right: 0;
        width: 25%;
        padding: 2em 28px;
        background-color: #28292d;
        color: #fff;
        margin: 0;
        float: right;
        clear: right;
        box-sizing: border-box;
        text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
        z-index: 11;
    }

    .content-container:not(.no-dark-box) .language-buttons {
        position: absolute;
        right: 0;
        width: 25%;
        padding: 2em 28px;
        float: right;
        clear: right;
        box-sizing: border-box;
    }

    .content-container:not(.no-dark-box) a.expand-btn {
        display: none;
    }

    .content-container:not(.no-dark-box) .highlighter-rouge pre.highlight {
        border: none;
        border-radius: 0;
        background-color: transparent;
        padding: 0;
        position: absollute;
        z-index: 10;
    }

    .content-container:not(.no-dark-box) .code-menu-closed .highlighter-rouge pre.highlight {
        position: relative;
    }

    /*.content:not(.no-dark-box) {
        margin-right: 35%;
    }*/


    pre code {
        color: #fff;
    }
    .dark-box {
        display: block;
        position: fixed;
        width: 25%;
        background-color: #28292d;
        box-shadow: inset 2px 0 4px 0 rgba(0,0,0,0.4);
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 5;
    }
    .lang-selector {
        position: fixed;
        z-index: 50;
        width: 35%;
        right: 0;
        top: 0;
        background-color: #222;
        font-weight: bold;
    }
    .lang-selector a {
        display: block;
        float: left;
        color: #fff;
        background: transparent;
        text-decoration: none;
        padding: 0 10px;
        line-height: 30px;
        outline: 0
    }
    .lang-selector a:active,
    .lang-selector a:focus {
        background-color: #111;
        color: #fff
    }
    .lang-selector a.active {
        background-color: #303137;
        color: #fff;
        border-bottom: 5px solid #00aeef
    }
    .lang-selector:after {
        content: '';
        clear: both;
        display: block
    }
}

.language-group .highlighter-rouge {
    display: none;
}

.code-fullscreen.opened {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 1001;
    width: auto;
}

.overlay.opened {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.code-fullscreen.opened .language-group {
    height: calc(100vh - 40px);
    margin: 0;
    width: 100%;
    background: #28292d;
}

.code-fullscreen.opened pre {
    font-size: 1.2em;
    height: calc(100vh - 40px);
}

.code-fullscreen.opened pre code {
    display: block;
    margin-top: 35px;
    width: 100%;
    height: calc(100vh - 115px);
    overflow-y: auto;
}

.page {
    margin: 100px auto 0;
    max-width: 1000px;
    padding: 0 30px;
}

#toc a {
    text-indent: 0;
}

#toc ul li a {
    padding-left: 15px !important;
}

#toc ul ul li a {
    padding-left: 40px !important;
}

#toc ul ul ul li a {
    padding-left: 65px !important;
}

#toc ul ul ul ul li a {
    padding-left: 90px !important;
}

#toc ul ul ul ul ul li a {
    padding-left: 115px !important;
}

.content-container.no-dark-box div.table-wrap {
    min-height: 0px !important;
}

/* Ajustes Index */

header.logo img {
    height: 75px;
    width: auto;
    padding: 0;
}

header.logo {
    border-bottom: none;
}

.home-header-container {
    border-bottom: 1px solid #e1e1e1;
}

.dev-hub-title {
    width: 100%;
    max-width: 1110px;
    margin: 110px auto 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.dev-hub-title h2 {
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}

.post-list.home {
    margin: 0;
}

.dev-hub-info {
    width: 100%;
    max-width: 633px;
}

.home ul.product-list {
    margin-top: 0;
    padding: 0;
}

.home-header-container {
    padding: 0;
}

li.doc-title {
    padding: 10px 0;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

input.hub-search {
    border: 3px solid #cccccc;
    border-radius: 0;
    padding: 14px 24px;
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
    width: 350px;
}

.home li.product {
    max-width: 350px;
}

.home ul.doc {
    padding: 10px 20px;
}

input.hub-search:after {
    content: "\f002";
    top: 5px;
    font-family: 'FontAwesome';
    display: block;
    right: 10px;
    position: absolute;
}

.home-footer {
    border: none;
}

.home-footer .footer-conteudo {
    border-top: 1px solid #e1e1e1;
}

.help-lang {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.home-header-container .help-lang .lang img {
    height: auto;
    margin: 0 10px;
}

.home-header-container > a {
    margin: 0 auto;
    left: -110px;
    position: relative;
}

.home-header-container {
    display: flex;
}

@media(max-width: 1320px) {
  .home-header-container {
    padding: 0 30px;
  }
  .dev-hub-title {
    padding: 0 30px;
  }
}

@media(max-width: 780px) {
  .dev-hub-title {
    flex-flow:column;
    align-items: center;
  }
  input.hub-search {
    width: 100%;
  }
  .dev-hub-search {
    width: 100%;
    display: flex;
}
.home ul.product-list {
    justify-content: center;
}

.home-header-container {
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
}

.home-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.home-header-container > a {
    left: 0;
}
}