<!DOCTYPE html>
<html lang="{{ site.lang }}">
    {% include head.html %}
    <body>
        {% if page.language_tabs %}
        <div class="content-container">
            <div class="language-tabs">
                <a class='hide-btn' id="hide-button" title="{% t global.toggle_right %}"><i class="fa fa-bars" aria-hidden="true"></i></a>
                <ul class="language-buttons">
                    {% for lang in page.language_tabs %}
                    <li><a data-language-name='{{ lang[0] }}'>{{ lang[1] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="dark-box"></div>
            <div class="overlay"></div>
        {% else %}
        <div class="content-container no-dark-box">
        {% endif %}
            <div id="submenu">
                <div class="submenu-container">
                    <div class="submenu-row sub-items">
                        <div class="submenu-itens">
                            <a href="https://desenvolvedores.cielo.com.br/api-portal/pt-br/contact" class="help">{% t global.support %}</a>

                            {% if page.translated %}
                            <div class="lang">
                                <span>{% t global.languages %}</span>

                                {% for lang in site.language_names %}
                                    {% if lang[0] == site.default_lang %}
                                    <a href="{{ site.baseurl_root }}{{page.url}}">
                                    {% else %}
                                    <a href="{{ site.baseurl_root }}/{{ lang[0] }}{{page.url}}">
                                    {% endif %}

                                        <img alt="{{ lang[1] }}" src="{{ site.baseurl }}/assets/images/{{ lang[0] }}.png"/>
                                    </a>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>

                        {% if page.search %}
                        <div class="search">
                            <input type="text" class="search" id="input-search">
                        </div>
                    </div>
                    <div class="submenu-row results">
                        <div class="search-results-container">
                            <ul class="search-results"></ul>
                        </div>
                    </div>
                        {% else %}
                    </div>
                        {% endif %}

                    <div class="submenu-row breads">
                        <ol class="breadcrumb">
                            {% if site.lang == site.default_lang %}
                            <li><a href="/">{% t global.home %}</a></li>
                            {% else %}
                            <li><a href="{{ site.baseurl_root }}/{{ site.lang }}/">{% t global.home %}</a></li>
                            {% endif %}
                            {% assign crumbs = page.url | split: '/' %}
                            {% assign crumbs_total = crumbs | size | minus: 1 %}
                            {% for crumb in crumbs offset: 1 %}
                                {% if forloop.index == crumbs_total %}
                                    {% if site.lang == site.default_lang %}
                                    <li class="active">&gt; <a href="{{ site.baseurl_root }}{{ page.url }}">{{page.title}}</a></li>
                                    {% else %}
                                    <li class="active">&gt; <a href="{{ site.baseurl_root }}/{{ site.lang }}{{ page.url }}">{{page.title}}</a></li>
                                    {% endif %}
                                {% else %}
                                    {% assign crumb_limit = forloop.index | plus: 1 %}
                                    {% capture crumb_url %}{% for c in crumbs limit: crumb_limit %}{{ c | append: '/' }}{% endfor %}{% endcapture %}
                                    {% capture crumb_with_index %}{{ crumb_url | append: 'index.html' }}{% endcapture %}
                                    {% capture current_page %}{{ site.baseurl }}{{ page.url }}{% endcapture %}
                                    {% for p in site.pages %}
                                        {% if crumb_with_index != current_page and crumb_with_index == p.url %}
                                            <li>&gt; <a href="{{ crumb_with_index }}">{{ crumb | replace:'-',' ' | capitalize}}</a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>

            {{ content }}

            {% include footer.html tags=post.tags %}
        </div>

        {% include sidebar.html %}

        <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/jquery-ui-1.9.1.custom.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/bootstrap.js"></script>
        <script src="{{ site.baseurl }}/assets/js/jquery.tocify.js"></script>
        <script src="{{ site.baseurl }}/assets/js/prettify.js"></script>
        <script>
        $(function() {
            var openedHeader = null;

            $("#toc").tocify({
                {% if page.layout == "faq" %}
                selectors: "h1",
                {% else %}
                selectors: "h1,h2,h3,h4,h5,h6",
                {% endif %}
                hashGenerator: "pretty",
                ignoreSelector: ".no-toc",
                scrollTo: 100,
                smoothScroll: false,
                showEffect: "none"
            }).data("toc-tocify");

            $('ul').prev('li').addClass('has-subitens');
            $(window).scroll(function () {
                if ($('li.active').closest('.tocify-header') !== openedHeader) {
                    $('li.is-open').removeClass('is-open');

                    openedHeader = $('li.active').closest('.tocify-header');
                }

                openedHeader.find('ul:visible').prev('li').addClass('is-open');
            });

            $('.hamburger').click(function() {
                $('body').toggleClass('sidebar-closed');
            });

            $('.code-menu').click(function() {
                $('body').toggleClass('code-menu-closed');
            });

            prettyPrint();
        });
        </script>

        {% if page.search %}
        <script src="{{ site.baseurl }}/assets/js/jquery.highlight.js"></script>
        <script src="{{ site.baseurl }}/assets/js/lunr.js"></script>
        <script src="{{ site.baseurl }}/assets/js/search.js"></script>
        {% endif %}

        {% if page.language_tabs %}
        <script>
        let langs = '';

        $('div.highlighter-rouge').prepend('<a class="fa expand-btn" title="{% t global.toggle_code %}"><i class="fa fa-expand" aria-hidden=true></i></a>');

        $('div.highlighter-rouge').each(function (index) {
            if(!$(this).parent().hasClass('language-group')) {
                $(this).first().next('div.highlighter-rouge').andSelf().wrapAll('<div class="code-fullscreen"><div class="language-group"></div></div>');
            }
        });

        {% if page.language_tabs %}
        if ( $(window).width() >= 1660) {
            $('.content-container:not(.no-dark-box) div.highlighter-rouge').each(function (index) {
                $(this).parent().parent().next('table').wrapAll('<div class="table-wrap" style="min-height:' + $(this).outerHeight() + 'px;"></div> ');
            });
        }
        {% endif %}

        $('.hide-btn').click(function() {
            $('.content-container').toggleClass('no-dark-box');
            $('.dark-box').toggle();

            $('.overlay').removeClass('opened');
            $('.code-fullscreen').removeClass('opened');
        });

        $('.expand-btn').click(function() {
            $('.overlay').toggleClass('opened');
            $(this).parent().parent().parent().toggleClass('opened');
            $(this).children('i.fa').toggleClass('fa-compress');
        });

        {% for lang in page.language_tabs %}
        langs += "<a data-language-name='{{ lang[0] }}'>{{ lang[1] }}</a>";
        {% endfor %}

        $('.language-group').prepend('<div class="language-buttons">' + langs + '</div>');
        </script>

        <script src="{{ site.baseurl }}/assets/js/lang.js"></script>
        <script>
        $(function() {
            setupLanguages([ {% for lang in page.language_tabs %} "{{ lang[0] }}", {% endfor %}]);
        });
        </script>
        {% endif %}

        {% include hotjar.html %}
    </body>
</html>
