<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    {% if page.redirect %}
        <meta http-equiv="refresh" content="0; url={{ page.redirect }}">
        <link rel="canonical" href="{{ page.redirect }}" />
    {% endif %}
</head>
<body>
    <h1>{{ page.title }}</h1>
    {% if page.redirect %}<h3> Redirecionando para <a href="{{ page.redirect }}">{{ page.redirect }}</a> ...</h3>{% endif %}
    <script>location='{{ page.redirect }}'</script>
    {{ content }}
</body>
</html>